.cart {
	margin-top: 80px;
	margin-bottom: 64px;

	&-list {
		margin-bottom: 24px;
	}

	.total-price {
		margin-bottom: 24px;

		dl {
			@include flexbox(between);
			@include text-style(18, $dark);
			font-weight: 700;
		}
	}
}
