.cart {
	$total-price-height-sm: 64px;
	margin-top: $header-height-sm;
	margin-bottom: $cart-button-height;

	&-list,
	&-empty {
		height: calc(100vh - #{$header-height-sm + $cart-button-height + $total-price-height-sm});
		overflow: auto;
	}

	&-empty {
		@include text-style(18, $secondary);
		@include flexbox;

		.fa-cart-shopping {
			margin-right: 8px;
		}
	}

	.total-price {
		height: $total-price-height-sm;
		padding: 8px;
		border-top: 2px solid $border;

		dl {
			@include flexbox(between);
			@include text-style(18, $dark);
			font-weight: 700;
		}
	}

	@include responsive(T) {
		margin-bottom: 0;

		&-list,
		&-empty {
			height: calc(100vh - #{$header-height-sm});
			padding: 24px 0;
		}
	}

	@include responsive(D) {
		.total-price {
			dl {
				color: $white;
			}
		}
	}
}
