.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $header-level;
	padding: 24px 0;
	background-color: $white;

	&-wrapper {
		@include flexbox(between);
	}

	&-menu-button,
	&-back-button,
	&-cart-button {
		@include flexbox;
		width: 32px;
		height: 32px;

		.fa-bars,
		.fa-cart-shopping {
			font-size: 20px;
			color: $primary;

			&:active {
				opacity: 0.4;
			}
		}
	}
}
