.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $header-level;
	padding: 24px 0;
	background-color: $white;
	box-shadow: $popup-shadow;

	&-wrapper {
		@include flexbox(between);
	}

	&-logo {
		cursor: pointer;
	}

	&-menu-button,
	&-back-button,
	&-cart-button {
		@include flexbox;
		width: 32px;
		height: 32px;

		.fa-bars,
		.fa-cart-shopping {
			font-size: 20px;
			color: $primary;

			&:active {
				opacity: 0.4;
			}
		}
	}

	&-cart-button {
		position: relative;
		cursor: pointer;

		.quantity {
			@include flexbox;
			position: absolute;
			top: 0;
			right: 0;
			min-width: 16px;
			height: 16px;
			font-size: 12px;
			color: $white;
			background-color: $red;
			border-radius: 50%;
		}
	}

	@include responsive(D) {
		padding: 32px 0;

		&-cart-button:hover {
			opacity: 0.7;
		}
	}
}
