.category-list {
	height: calc(100vh - #{$header-height-sm});
	overflow: hidden;
	margin-top: $header-height-sm;

	.category-box {
		position: relative;
		width: 100%;
		height: calc(100% / 4);
		overflow: hidden;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		.category-title {
			width: 100%;
			height: 100%;
			background-color: rgba($dark, 0.3);

			h2 {
				@include pos-center;
				color: $white;
			}
		}
	}
}
