.add-cart-button,
.pay-button {
	@include text-style(16, $white);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $cart-button-height;
	background-color: $black;
	border-radius: 8px;
}
