.add-cart-button,
.pay-button {
	@include text-style(16, $white);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $cart-button-height;
	background-color: $black;
	border-radius: 8px;
}

.pay-button {
	@include responsive(T) {
		position: relative;
	}
}

.add-cart-button {
	@include responsive(D) {
		position: relative;
		display: inline-block;
		width: 90%;
		margin: 0 auto;
	}
}
