.header-gnb {
	.gnb-list {
		@include flexbox;
	}

	.gnb-item {
		@include text-style(16, $secondary);
		margin: 0 8px;
		font-weight: 700;

		&.active {
			color: $dark;
		}
	}

	@include responsive(D) {
		.gnb-item {
			@include text-style(18);

			&:hover {
				color: $dark;
			}
		}
	}
}
