.load-wrapper {
	position: relative;
	width: 100%;
	height: calc(100vh - 80px);
	background-color: transparent;

	.load {
		@include pos-center;

		.spinner {
			position: relative;
			width: 50px;
			height: 50px;
			animation: loadingI 2s linear infinite;
		}
	}

	.bubble {
		position: absolute;
		top: 0;
		width: 25px;
		height: 25px;
		border-radius: 100%;
		background-color: $dark;
		animation: bounce 2s ease-in-out infinite;

		&.bubble-2 {
			top: auto;
			bottom: 0;
			animation-delay: -1s;
		}
	}
}

@keyframes loadingI {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
