.price-box {
	@include column-flexbox;
	position: fixed;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	background-color: $background;
	transform: translate3d(100%, 0, 0);
	transition: transform 200ms ease-in-out;

	& > * {
		width: 90%;
	}

	&.active {
		transform: translate3d(0, 0, 0);

		.open-button {
			.fa-angle-left {
				transform: rotate(180deg);
			}
		}
	}

	.summary {
		text-transform: uppercase;
		margin-bottom: 48px;
	}

	.summary-info {
		@include flexbox(between);
		margin-bottom: 32px;

		span {
			@include text-style(18, $primary);
			font-weight: 700;
		}
	}

	.total-price {
		margin-bottom: 48px;

		.discount {
			@include flexbox(between);
			padding: 8px 0;

			span {
				@include text-style(16, $red);
			}
		}
	}

	.open-button {
		@include pos-center-y;
		left: -32px;
		width: 32px;
		height: 56px;
		background-color: $background;
		border-radius: 8px 0 0 8px;
	}

	@include responsive(D) {
		background-color: $primary;

		.summary {
			color: $white;
		}

		.summary-info {
			span {
				color: $white;
			}
		}

		.total-price {
			margin-bottom: 48px;

			.discount {
				@include flexbox(between);
				padding: 8px 0;

				span {
					@include text-style(16, $red);
				}
			}
		}

		.open-button {
			left: -48px;
			width: 48px;
			height: 80px;
			background-color: $primary;

			.fa-angle-left {
				font-size: 24px;
				color: $white;
			}
		}
	}
}
