.products-item {
	width: 48%;
	margin-bottom: 16px;

	.item {
		&-image {
			@include flexbox;
			height: 280px;
			margin-bottom: 8px;
			background-color: $white;
			border-radius: 8px;
			overflow: hidden;

			img {
				width: auto;
				height: auto;
				max-width: 90%;
				max-height: 90%;
			}
		}

		&-title {
			@include text-style(13, $primary);
			margin-bottom: 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-price {
			@include text-style(12, $secondary);
		}
	}

	@include responsive(T) {
		width: 49%;

		.item {
			&-image {
				@include flexbox;
				height: 480px;
			}
		}
	}

	@include responsive(D) {
		width: 32%;
		margin-bottom: 36px;

		.item-wrapper {
			&:hover {
				.item-image,
				.item-title,
				.item-price {
					opacity: 0.7;
				}
			}
		}

		.item {
			&-image {
				@include flexbox;
				height: 360px;
				margin-bottom: 16px;
			}

			&-title {
				@include text-style(16);
			}

			&-price {
				@include text-style(14);
			}
		}
	}
}
